<div class="p-4 grid grid-cols-1 gap-3">
    <div class="flex justify-between">
        <h4 class="text-2xl">Gestionar miembros</h4>
        <button
            type="button"
            class="fa-regular fa-x text-gray-500 cursor-pointer"
            (click)="activeModal.dismiss()"></button>
    </div>

    <form [formGroup]="membersForm" (ngSubmit)="addUser()">
        <label class="mr-2" for="searchUser">Agregar a</label>
        <input
            id="searchUser"
            type="text"
            formControlName="searchUser"
            class="td-form-control" />
        <section id="participants" class="mt-3">
            <div class="flex flex-row gap-2 items-start">
                <span class="text-nowrap">Miembros:</span>
                <app-users-list formControlName="users"></app-users-list>
            </div>
        </section>
    </form>

    <section id="buttons" class="mt-3 flex flex-row justify-end gap-2">
        <button
            (click)="activeModal.dismiss()"
            type="button"
            class="py-2 px-4 font-semibold rounded-lg shadow-md hover:bg-gray-100 transition-all ease-in duration-150;">
            Cancelar
        </button>
        <button
            type="button"
            (click)="saveGroup()"
            class="td-btn-primary rounded-lg">
            Guardar
        </button>
    </section>
</div>
