<div class="grid grid-cols-12 gap-2 px-3 py-2">
    <section id="date" class="my-auto col-span-1">
        <div class="text-gray-400">
            <div class="grid grid-cols-1 gap-0 content-center">
                <p class="text-xs leading-none">ENE</p>
                <p class="text-xl leading-none">29</p>
            </div>
        </div>
    </section>
    <section id="title" class="my-auto col-span-7">
        <div class="flex flex-row gap-2">
            <h1>Icono</h1>
            <h3 class="text-xl">Super conorel suarez</h3>
        </div>
    </section>
    <section id="payer" class="my-auto col-span-2">
        <div class="grid grid-cols-1">
            <p class="text-xs text-gray-400">pagaste</p>
            <p class="text-lg">$6000.00</p>
        </div>
    </section>
    <section id="prestador" class="my-auto col-span-2">
        <div class="grid grid-cols-1">
            <p class="text-xs text-gray-400">prestaste</p>
            <p class="text-lg text-emerald-500">$4000.00</p>
        </div>
    </section>
</div>
