<div class="hidden sm:grid grid-cols-12 gap-2 px-3 py-2">
    <section id="date" class="my-auto col-span-1">
        <div class="text-gray-400">
            <div
                class="grid grid-cols-1 gap-0 content-center text-center"
                [ngbTooltip]="spent.payedAt | date : 'medium'">
                <p class="text-xs leading-none">
                    {{ spent.payedAt | date : 'MMM' | uppercase }}
                </p>
                <p class="text-xl leading-none">
                    {{ spent.payedAt | date : 'dd' }}
                </p>
            </div>
        </div>
    </section>
    <section id="title" class="my-auto col-span-7">
        <div class="flex flex-row gap-2">
            <h3 class="text-xl">{{ spent.description }}</h3>
        </div>
    </section>

    <section id="payer" class="my-auto col-span-3">
        <div class="grid grid-cols-1">
            <ng-container [ngTemplateOutlet]="spentAuthor"></ng-container>
        </div>
    </section>
    <section id="menu" class="my-auto col-span-1">
        <div class="flex flex-row gap-3 text-slate-600">
            <i class="fa-regular fa-edit" ngbTooltip="Editar"></i>
            <i
                class="fa-regular fa-trash-alt"
                (click)="delete()"
                ngbTooltip="Remover"></i>
        </div>
    </section>
</div>
<div class="block sm:hidden px-3 py-2">
    <div class="flex flex-row gap-3 items-center w-full">
        <p
            class="text-sm leading-none text-gray-400"
            [ngbTooltip]="spent.payedAt | date : 'medium'">
            {{ spent.payedAt | date : 'MMM dd' | uppercase }}
        </p>
        <p class="text-sm">
            {{ spent.description }}
        </p>
    </div>
    <div class="flex flex-row justify-between items-center mt-2">
        <ng-container [ngTemplateOutlet]="spentAuthor"></ng-container>
        <div class="flex flex-row gap-3 text-slate-600">
            <i class="fa-regular fa-edit" ngbTooltip="Editar"></i>
            <i
                class="fa-regular fa-trash-alt"
                (click)="delete()"
                ngbTooltip="Remover"></i>
        </div>
    </div>
</div>

<ng-template #spentAuthor>
    <p class="text-xs text-gray-400">
        <ng-container *ngIf="iPaid; else otherPlayed">pagaste</ng-container>
        <ng-template #otherPlayed>
            <strong>
                {{ spent.author.firstName }} {{ spent.author.lastName }}
            </strong>
            pagó
        </ng-template>
        <br />
        <span class="text-lg text-emerald-900 font-semibold">
            {{ spent.amount | currency }}
        </span>
    </p>
</ng-template>
