<div class="p-4 grid grid-cols-1 gap-3">
    <div class="flex justify-between">
        <h4 class="text-2xl">Añadir un gasto</h4>
        <button
            type="button"
            class="fa-regular fa-x text-gray-500 cursor-pointer"
            (click)="activeModal.dismiss()"></button>
    </div>
    <form [formGroup]="spentForm" (ngSubmit)="submit()">
        <section id="participants">
            <div class="flex flex-row gap-2 items-start">
                <span class="text-nowrap">Con:</span>
                <app-users-list formControlName="users"></app-users-list>
            </div>
        </section>
        <section id="icon-description-amount" class="mt-3">
            <div class="grid grid-cols-1 gap-2">
                <div class="relative mt-2 rounded-md">
                    <div
                        class="pointer-events-none absolute inset-y-0 top-2 left-0 pl-3">
                        <span class="text-gray-500 sm:text-sm">💲</span>
                    </div>
                    <input
                        placeholder="00.00"
                        min="0"
                        max="999999999"
                        formControlName="amount"
                        autocomplete="off"
                        type="number"
                        class="td-form-control w-full pl-7 pr-20" />
                </div>

                <input
                    formControlName="description"
                    class="td-form-control"
                    placeholder="Descripción del gasto"
                    autocomplete="off"
                    [maxLength]="50"
                    type="text" />

                <div class="input-group">
                    <input
                        class="td-form-control"
                        placeholder="dd/mm/yyyy"
                        formControlName="payedAt"
                        ngbDatepicker
                        #d="ngbDatepicker" />
                    <button
                        class="td-btn-primary fa-regular fa-calendar-alt"
                        (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
        </section>

        <section id="division" class="text-center mt-3">
            <p>
                Pagado por
                <app-select
                    [options]="participants$ | async"
                    formControlName="author"></app-select>
                y dividido
                <app-select
                    [options]="[{ name: 'En partes iguales', value: '' }]"
                    formControlName="how"></app-select>
            </p>
            <!-- <p>($0.00 / persona)</p> -->
        </section>

        <section id="buttons" class="mt-3 flex flex-row justify-end gap-2">
            <button
                (click)="activeModal.dismiss()"
                type="button"
                class="py-2 px-4 font-semibold rounded-lg shadow-md hover:bg-gray-100 transition-all ease-in duration-150;">
                Cancelar
            </button>
            <button type="submit" class="td-btn-primary rounded-lg">
                Crear
            </button>
        </section>
    </form>
</div>
