<div class="container">
    <div class="flex flex-row justify-between my-3">
        <h1 class="text-4xl font-bold lg:text-6xl leading-none">Dashboard</h1>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-5 mb-4">
        <app-search (searchEvent)="searchGroups($event)"></app-search>

        <button class="td-btn-primary" (click)="openNewGroup()">
            <i class="fa fa-plus"></i>
            Nuevo grupos
        </button>
    </div>
    <!-- Grupos cards -->
    <ng-container *ngIf="groups$ | async as groups">
        <div class="flex flex-col space-y-4">
            <app-group-card
                *ngFor="let item of groups"
                [routerLink]="['/', 'group', item.id]"
                [group]="item"></app-group-card>
        </div>
    </ng-container>
    <ngx-spinner
        name="groups"
        type="square-jelly-box"
        bdColor="rgba(0, 0, 0, 0.8)"
        size="medium"
        color="#fff"
        [zIndex]="2500"
        [fullScreen]="true">
        Cargando tus grupos...
    </ngx-spinner>
</div>
